:root {
    font-family: "Open Sans", serif;
}

#divider {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #e81f1f;
  }

  footer{
    color:#333333;
    text-align: center;
    padding-bottom: 48px;
}
